.location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #899878;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
}

.location-header {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.highlight {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.address-text {
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
    margin: 0;
}

.google-map {
    flex: 1;
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    max-width: 700px; 
    margin-left: 110px;
}

.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
